.section {
 	padding: 10rem 0 8rem 0;

	background: url(./background.jpg) no-repeat center center / cover;
	color: #fff;
	position: relative;
  min-height: 500px;

	&::before {
		background-color: rgba(0, 0, 0, 0.3);
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

  &::after {
    content: "photo by Mai Tran";
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
    color: #fff;
    padding: 0.5rem;
  }
}

.title {
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 4px;

  @media (max-width: 768px) {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
}

.subtitle {
  font-size: 1.5rem;
  text-transform: initial;
  font-weight: 300;
}

.headWrap {
  background: rgb(224, 196, 77);
  padding: 1rem;
}
