.row {
  margin: 2rem 0;
}

.avatar {
  width:15rem;
  height: 15rem;
  border-radius: 50%;
  margin: 0 auto;
}

.name {
  font-family: 'Tangerine', cursive;
  font-size: 3rem;
  font-weight: 700;
}

.imgCol {
  margin: 1rem 0;
  text-align: center;
}

.infoCol {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1;
}

.infoCol p {
  margin: 1rem;
}
