.imgDiv {
  margin: 0 auto;
  text-align: center;
}

.img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  height: auto;
  margin: 0 3rem;
  max-width: 20%;
}

@media (max-width: 768px) {
  .img {
    margin: 1rem 0.5rem;
  }
}
