@import "bootstrap";

.mainCol {
  @extend .col-sm-12;

  margin: 2rem 0 auto;
}

@media (min-width: 768px) {
  .mainCol {
    padding: 0 3rem;
  }
}

.content {
  text-align: justify;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: left;
    margin-bottom: 1.5rem;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 1rem 0;
  }
}
