@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700,900|Tangerine:400,700);
@import "globals";
/*
 * 2.0 Global Style
 */

html {
	font-family: 'Roboto', sans-serif !important;
	font-size: 16px !important;
}

body {
	color: $color-text;
	font-family: 'Roboto', sans-serif !important;
  font-size: 16px !important;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

@media (min-width: 1920px) {
	body {
		font-size: 22px !important;
	}
}

a {
	color: #000;
	&:focus {
		outline: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

p {
	margin: 0 0 30px;
}

.custom-list-icon {
	list-style-type: none;
    padding: 0;
    li {
    	position: relative;
    	padding-left: 20px;

	    &::before {
	    	position: absolute;
	    	left: 0;
	    	color: #4e4e4e;
	    	font-family: "Ionicons";
	    }
	}
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
	outline: none;
}

.btn {
	border: 0;
	border-radius: 0;
	padding: 0.375rem 1.75rem;
	text-transform: uppercase;
	transform: translateZ(0);
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	transition-duration: 0.3s;
	transition-property: transform;
	&:hover {
		transform: scale(0.9);
	}
}

.form-control {
	border-radius: 0;
	box-shadow: none;
	height: 3rem;
	padding: 0.625rem 0.75rem;
	font-size: 1rem;
	line-height: 1.6;
	&:focus {
		box-shadow: none;
		border-color: #ccc;
		background-color: #f8f8f8;
	}
}

/*
 * 3.0 Helper Class
 */

/*
 * 3.1 Helper Class: font-weight
 */

.font-300 {
	font-weight: 300;
}

.font-400 {
	font-weight: 400;
}

.font-700 {
	font-weight: 700;
}

/*
 * 3.2 Helper Class: margin
 */

.mt0 {
	margin-top: 0;
}

.mb0 {
	margin-bottom: 0;
}

.mt20 {
	margin-top: 20px;
}

/*
 * 3.3 Helper Class: list
 */

.list-arrow-right {
	@extend .custom-list-icon;
	li {
		&::before {
			content: "\f3d3";
		}
	}
}

/*
 * 3.4 Helper Class: button
 */

.btn-white {
	color: #000;
	background-color: #fff;
	&:hover,
	&:focus {
		color: #000;
		background-color: #fff;
	}
}

.btn-black {
	color: #fff;
	background-color: #000;
	&:hover,
	&:focus {
		color: #fff;
		background-color: #000;
	}
}
