.footer {
	background-color: #000;
	color: #fff;
	text-align: left;;
	padding: 30px 0;
	margin-top: 2rem;
}

.fb,
.info {
	margin-bottom: 10px;

	a {
		color: #fff;
	}
}

.fb {
	text-align: right;
}

.info {
	text-align: left;
}

@media (max-width: 768px) {
	.fb,
	.info {
		text-align: center;
	}
}
