.footer {
	background-color: #000;
	color: #fff;
	text-align: left;;
	padding: 30px 0;
	margin-top: 2rem;
}

.info {
	font-weight: 400;
	text-align: left;
	margin-bottom: 10px;
	a {
		color: #fff;
	}
}
.fuck {
	font-weight: 400;
	margin-bottom: 10px;
	a {
		color: #fff;
	}

}
