@import "globals";

.name {
  color: $color-text;
  font-family: $font-accent;
  text-transform: initial;
  font-size: 1.4rem;
  font-weight: 700;
  white-space: nowrap;

  &:hover,
  &focus {
    text-decoration: none;
  }
}

.title {
  color: $color-text;
  font-family: $font-accent;
  text-transform: initial;
  font-size: 1.4rem;
  font-weight: 700;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .name {
    white-space: initial;
    font-size: 0.8rem;
  }
  .title {
    white-space: initial;
    font-size: 0.8rem;
  }
}

.subTitle {
  color: $color-text;
}

.img {
  max-height: 15rem;
  width: auto;
  border-radius: 50%;
}
